{% extends "default.html" %}
{% block title %}Home Page{% endblock %}

{% block navbaritems %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="recipes.html">Recipes</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="submit.html">Submit</a>
      </li>
    </ul>
{% endblock %}

{% block pagecontent %}

<h1>Welcome to the MAIN, HOME, and INDEX!</h1>
<p> TODO: </p>
<ul>
    <li>Add a photo of food here </li>
    <li>[remember to add alt text]</li>
    <li>One liner describing our website</li>
    <li>Explain how to navigate around the website</li>
</ul>

{% endblock %}
