{% extends "default.html" %}
{% block title %}Pasta Page{% endblock %}

{% block navbaritems %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="submit.html">Submit</a>
      </li>
    </ul>
{% endblock %}

{% block pagecontent %}
<h1>Welcome to our PASTA recipe page!</h1>
<p> Scroll down or click BUTTON to activate voice control </p>
<!-- <p> TODO: </p>
<ul>
    <li> codify the recipe from that website onto here </li>
    <li> recipe + picture </li>
    <li> ingredients (checklist) </li>
    <li> Also potentially photos of ingredients if helpful?</li>
    <li> steps (checklist) </li>
</ul> -->


<h2>Ingredient Checklist</h2>

<input type="checkbox" id="ingredient1">
<label for="ingredient1"> 1 lb bowtie pasta</label><br>

<input type="checkbox" id="ingredient2">
<label for="ingredient2"> 1/2 cup olive oil + more for finishing</label><br>

<input type="checkbox" id="ingredient3">
<label for="ingredient3"> 2 boxes cherry tomatoes (around 20-25 oz)</label><br>

<input type="checkbox" id="ingredient4">
<label for="ingredient4"> 1 block feta about 8 oz</label><br>

<input type="checkbox" id="ingredient5">
<label for="ingredient5"> 2 cloves garlic finely chopped</label><br>

<input type="checkbox" id="ingredient6">
<label for="ingredient6"> a few pinches red pepper flakes</label><br>

<input type="checkbox" id="ingredient7">
<label for="ingredient7"> 1 handful fresh basil leaves</label><br>

<input type="checkbox" id="ingredient8">
<label for="ingredient8"> salt and pepper</label><br>

<h2>Recipe Steps</h2>



<ol>
  <li>Preheat oven to 400.</li>
  <li>Add olive oil to a baking dish and toss with whole cherry tomatoes, salt and pepper until everything is coated.</li>
  <li>Add the feta in the middle and top with a splash more of olive oil plus a few cranks of fresh pepper. Bake for 30 minutes.</li>
  <li>Meanwhile, prepare bowtie pasta according to directions then strain.</li>
  <li>After the 30 minutes has past, crank the heat up to 450 and bake for another 5-10 minutes or until the feta and tomatoes have browned.</li>
  <li>Remove the baking dish from the oven and add garlic and red pepper flakes and stir so the residual heat cooks the garlic and releases the flavors from the red pepper flakes.</li>
  <li>Toss in the pasta and stir one more time.</li>
  <li>Finish with fresh basil, another splash of olive oil and season with salt and pepper.</li>
</ol> 



<a href="https://grilledcheesesocial.com/2019/06/27/baked-feta-pasta-with-tomatoes/">Recipe Source Link</a>


{% endblock %}
