{% extends "default.html" %}
{% block title %}Recipes Page{% endblock %}

{% block navbaritems %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="submit.html">Submit</a>
      </li>
    </ul>
{% endblock %}

{% block pagecontent %}
<h1>Welcome to our RECIPES page!</h1>
<p> Browse through our current selection of recipes! </p>
<p> TODO: </p>
<ul>
    <li> scrolling pages of recipes that the person can pick </li>
    <li> Include the (1) recipe that we're testing - TIKTOK PASTA</li>
    <li> Make sure accessible on mobile devices </li>
</ul>

{% endblock %}
