{% extends "default.html" %}
{% block title %}Recipes Page{% endblock %}

{% block navbaritems %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="recipes.html">Recipes <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="submit.html">Submit</a>
      </li>
    </ul>
{% endblock %}

{% block pagecontent %}
<h1>Browse our assortment of recipes!</h1>
<!-- <p> Browse through our current selection of recipes! </p>
<p> TODO: </p>
<ul>
    <li> scrolling pages of recipes that the person can pick </li>
    <li> Include the (1) recipe that we're testing - TIKTOK PASTA</li>
    <li> Make sure accessible on mobile devices </li>
</ul> -->

<h2>Our Chosen Recipe</h2>
<a href="pasta.html">Baked Feta Pasta</a>
<br><br>

<h2>Other Recipes (links go to websites)</h2>
<h4>Food</h4>
<a href="https://www.skinnytaste.com/spinach-lasagna-rolls/">Spinach Lasagna Roll Ups</a><br>
<a href="https://oursaltykitchen.com/mediterranean-chickpea-salad/">Mediterranean Chickpea Salad</a><br>
<a href="https://www.eatingbirdfood.com/summer-greek-quinoa-salad/">Greek Quinoa Salad</a><br>
<a href="https://iheartvegetables.com/oven-baked-tostadas/">Vegetarian Tostadas</a><br>
<a href="https://www.sixvegansisters.com/2020/03/19/sweet-sour-tofu/">Sweet & Sour Tofu</a><br>
<a href="https://forksandfolly.com/2018/05/yummy-thai-peanut-veggie-rice-bowls/">Thai Peanut Veggie Rice Bowls</a><br>
<a href="https://countsofthenetherworld.com/protein-packed-thai-pasta-salad/">Thai Pasta Salad</a><br>
<a href="http://www.madelinelu.com/new-blog/2017/1/20/homemade-vegan-dumplings?format=amp">Homemade Vegan Dumplings</a><br>
<a href="https://www.contentednesscooking.com/creamy-mac-and-cheese/">Creamy Mac and Cheese</a><br>
<a href="https://oursaltykitchen.com/cantaloupe-salad/">Cantaloupe Salad</a><br>
<a href="https://thenaturalnurturer.com/chickpea-vegetable-nuggets/?utm_medium=social&utm_source=pinterest&utm_campaign=tailwind_tribes&utm_content=tribes&utm_term=980088616_43756762_163858">Chickpea Vegetable Nuggets</a><br>
<a href="https://www.thissavoryvegan.com/roasted-tomato-sandwiches-vegan-lemon-garlic-aioli/">Roasted Tomato Sandwiches</a><br>
<a href="https://simple-veganista.com/fresh-from-oven-soft-pretzel-bites/">Homemade Soft Pretzel Bites</a><br>
<a href="https://damndelicious.net/2014/06/25/pineapple-fried-rice/">Pineapple Fried Rice</a><br>
<a href="https://bakerbynature.com/blueberry-pancakes-dreams/">Blueberry Pancakes</a><br>
<a href="https://girlwiththeironcast.com/vegetable-lo-mein/">Vegetable Lo Mein</a><br>
<a href="https://eatwithclarity.com/easy-vegetarian-sushi-recipe/">Sweet Potato Sushi</a><br>
<a href="https://www.elephantasticvegan.com/vegan-pierogi-with-potatoes/">Vegan Pierogi with Potatoes</a><br>
<a href="https://www.connoisseurusveg.com/shiitake-wonton-soup/">Vegan Shiitake Wonton Soup</a><br>
<a href="https://umamigirl.com/chickpea-noodle-soup-vegan-comfort-food/">Chickpea Noodle Soup</a><br>
<a href="https://www.thegarlicdiaries.com/perfect-bruschetta/">Bruschetta</a><br>
<a href="https://www.thissavoryvegan.com/asian-vegetable-noodle-soup/">Asian Vegetable Noodle Soup</a><br>
<a href="https://www.littlebroken.com/veggie-loaded-7-layer-dip/">Veggie Loaded 7-Layer Dip</a><br>
<a href="https://www.spendwithpennies.com/crab-rangoon-crab-cream-cheese-filled-crispy-wontons/">Crab Rangoon</a><br>
<a href="https://www.fooduzzi.com/2016/03/thai-peanut-hummus/">Thai Peanut Hummus</a><br>
<a href="https://www.thegunnysack.com/watermelon-salsa-recipe/">Watermelon Salsa</a><br>
<a href="https://togetherasfamily.com/avocado-dip/">Avocado Dip</a><br><br>



<h4>Drinks</h4>
<a href="https://lovecreatecelebrate.com/the-perfect-watermelon-lemonade/">Watermelon Lemonade</a><br>
<a href="http://www.happyandharried.com/2016/04/21/orange-iced-tea/">Orange Iced Tea</a><br>
<a href="https://cincyshopper.com/peppermint-white-hot-chocolate/">Peppermint White Hot Chocolate</a><br>
<a href="https://www.sixsistersstuff.com/recipe/strawberry-kiwi-smoothie/?epik=dj0yJnU9bU9EUGoyU0VLMi0tenhZU2Z5REVndjhZMlh4NUhWdWgmcD0wJm49RUFLaTdmTERSbERaV3dYdmVEY0VXdyZ0PUFBQUFBR0I0Uk8w">Strawberry Kiwi Smoothie</a><br><br>

<h4>Dessert</h4>
<a href="https://cincyshopper.com/no-bake-reeses-peanut-butter-cheesecake/">No Bake Reese’s Peanut Butter Cheesecake</a><br>
<a href="https://afarmgirlskitchen.com/jelly-donuts/">Homemade Jelly Donuts</a><br>
<a href="https://princesspinkygirl.com/smore-bars/">S'mores Bars</a><br>
<a href="https://www.acozykitchen.com/mint-chocolate-chip-macarons/">Mint Chocolate Chip Macarons</a><br>
<a href="https://www.5boysbaker.com/homemade-fresh-raspberry-ice-cream/">Fresh Raspberry Homemade Ice Cream</a><br>
<a href="https://www.dinneratthezoo.com/cosmic-brownies/">Cosmic Brownies</a><br>
<a href="https://sallysbakingaddiction.com/homemade-thin-mint-cookies/">Homemade Thin Mint Cookies</a><br>
<a href="https://www.gourmandize.com/recipe-46864-cookies-and-cream-muddy-buddies.htm">Cookies and Cream Muddy Buddies</a><br>
<a href="https://thecakeblog.com/2012/10/recipe-fresh-apple-donuts.html">Baked Apple Donuts</a><br>
<a href="https://sweetnessandbite.com/super-easy-3-ingredient-chocolate-mousse/">Chocolate Mousse</a><br>
<a href="https://cookingwithcocktailrings.com/2017-cannolis/">Classic Homemade Cannoli</a><br>
<a href="https://www.serenabakessimplyfromscratch.com/2012/08/flaky-blackberry-turnovers.html?m=1">Flaky Blackberry Turnovers</a><br>
<a href="https://barefeetinthekitchen.com/perfect-rice-krispy-treats-recipe/">Rice Krispy Treats</a><br>
<a href="https://www.momontimeout.com/peanut-butter-banana-chocolate-chip-cookies/">Peanut Butter Banana Chocolate Chip Cookies</a>

{% endblock %}
