{% extends "default.html" %}
{% block title %}About Page{% endblock %}

{% block navbaritems %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="recipes.html">Recipes</a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="submit.html">Submit <span class="sr-only">(current)</span></a>
      </li>
    </ul>
{% endblock %}

{% block pagecontent %}
<h1>Welcome to our SUBMIT page! What to add?</h1>
<p> TODO: </p>
<ul>
  <li> make a form in the middle of the page that the person can fill out </li>
  <li> maybe direct them to other online resources available</li>
</ul>
{% endblock %}